layout{
    nav{
        padding-top:0 !important;
        background: hotpink;
        a{
            padding-top:0 !important;
            padding-bottom:0 !important;
            height:25vh !important;
            color: white !important;
            &.active{
                color: hotpink !important;
                background: black !important;
                &:hover{
                    background: black !important;
                    color: hotpink !important;
                }
            }
            &:hover{
                color: black !important;
                background: hotpink !important;
            }
        }
        .vertical{
            writing-mode: vertical-lr; 
            transform: rotate(180deg);
            text-align: center;
        }
        .big-font{
            font-size: xx-large;
            font-weight: bolder;
            padding: 0 35px !important;
        }
    }
    main{
        margin-left: 100px !important;

        @media screen and (max-width: 1024px){
            margin-left: 0px !important;
        }
    }
}