layout{
    nav{
        padding-top:0 !important;
        background: hotpink;
        a{
            padding-top:0 !important;
            padding-bottom:0 !important;
            color: white !important;
            &.active{
                color: hotpink !important;
                background: blue !important;
                &:hover{
                    background: blue !important;
                    color: hotpink !important;
                }
            }
            &:hover{
                color: blue !important;
                background: hotpink !important;
            }
            &:not(.clear-button){
                height:30vh !important;
            }
            &.clear-button{
                height:10vh !important;
            }
        }
        .vertical{
            writing-mode: vertical-lr; 
            transform: rotate(180deg);
            text-align: center;
        }
        .big-font{
            font-size: xx-large;
            font-weight: bolder;
            padding: 0 35px !important;
        }
    }
    main{
        margin-left: 100px !important;

        @media screen and (max-width: 1024px){
            margin-left: 0px !important;
        }
    }
    .page-content{
        overflow: hidden;
    }
    .content{
        margin: 20px;
    }
    .mdl-layout__container{
        max-width: 850px;
        position: static !important;
        margin: auto;
        background: white;
    }
}