layout{
    nav{
        padding-top:0 !important;
        a{
            padding-top:0 !important;
            padding-bottom:0 !important;
            height:25vh !important;
        }
        .vertical{
            writing-mode: vertical-lr; 
            transform: rotate(180deg);
            text-align: center;
        }
        .big-font{
            font-size: xx-large;
            font-weight: bolder;
            padding: 0 35px !important;
        }
    }
}