html,body{
    height: 100%;
}
body{
    margin: 0px;
    background-image: url('https://i.pinimg.com/736x/46/45/3f/46453f214083805aca522c0c74d62b3e--painting-art-abstract-paintings.jpg');
}

h2{
    text-align: center;
    font-weight: bolder !important;
    color: hotpink;
    text-shadow: -1px -1px black;    
}
h3 {
    text-shadow: -1px -1px hotpink;
}
